{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Wizard List</h1>
  {% if wizard_list %}
  <ul>
    {% for wizard in wizard_list %}
      <li>
          {{ wizard.nickname }} ({{ wizard.make }})
          (<a href="{% url 'wizards:wizard_update' wizard.id %}">Update</a> |
          <a href="{% url 'wizards:wizard_delete' wizard.id %}">Delete</a>) <br/>
          {{ wizard.comments }} ({{ wizard.mileage }} miles)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no wizards in the library.</p>
  {% endif %}
  <p>
    {% if make_count > 0 %}
      <a href="{% url 'wizards:wizard_create' %}">Add an wizard</a>
    {% else %}
      Please add a make before you add an wizard.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'wizards:make_list' %}">View makes</a> ({{ make_count }}) | 
    <a href="{% url 'wizards:make_create' %}">Add a make</a>
  </p>
{% endblock %}
